{{template "layout.gohtml"}}

{{define "content"}}
    <main>
        <h1>Oops</h1>
        <h2>Something Went Wrong.</h2>
        {{with .Err}}
            <code>{{.Error}}</code>
        {{end}}
    </main>
{{end}}