{{template "layout.gohtml" .}}

{{define "content"}}
    <main>
        <h1>{{.User.Username}}</h1>
        {{if eq (.User.PostCount) 0}}
            <p> No posts yet.</p>
        {{else}}
            <p> Post Count: {{.User.PostCount}}</p>
            <section>
                {{range .Posts}}
                    {{template "post-article.gohtml" .}}
                {{end}}
            </section>
        {{end}}
    </main>
{{end}}