<article>
    <div>
        <a href="#!">
            <h2 style="display: inline">{{.Username}}</h2>
        </a>
        <a href="/posts/{{.ID}}">
            {{.CreatedAt}}
        </a>
    </div>
        <p> {{linkify .Content}}</p>
        <p>Comment Count: {{.CommentCount}}</p>
</article>