<article>
    <div>
        <a href="#!">
            <h2>{{.Username}}</h2>
        </a>
        <a href="#!">
            <p>{{.CreatedAt}}</p>
        </a>
    </div>

    <p> {{ .Content}}</p>
</article>