<article>
    <div>
        <a href="#!">
            <h2 style="display: inline">{{.Username}}</h2>
        </a>
        <a href="/posts/{{.ID}}">
            <timestamp>{{.CreatedAt}}</timestamp>
        </a>
    </div>

    <p> {{ .Content}}</p>
</article>